p {
    color: blue;
}

body {
    background-color: #FAF8FF;

    color: #4A0FBF;

    font-family: "Inter", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6C27F5;

    margin-bottom: 0.5em;
}

p {
    color: #4A0FBF;
}

a {
    color: #6C27F5;
    text-decoration: none;
}

a:hover {
    color: #00E6A8;

    text-decoration: underline;
}